<?xml version="1.0" ?>
<config>
	<modules>
		<Aoe_Import>
			<version>0.0.1</version>
		</Aoe_Import>
	</modules>

	<global>
		<models>
			<aoe_import>
				<class>Aoe_Import_Model</class>
			</aoe_import>
		</models>
		<helpers>
			<aoe_import>
				<class>Aoe_Import_Helper</class>
			</aoe_import>
		</helpers>
	</global>

	<phpunit>
		<suite>
			<modules>
				<Aoe_Import />
			</modules>
		</suite>
	</phpunit>

	<aoe_import>
		<dummyImportKeyA><!-- import key -->
			<dummyProcessor1><!-- processor identifier -->
				<class>aoe_import/processor_dummy</class>
				<pathFilter><![CDATA[+^//a/a+]]></pathFilter><!-- regex on xpath that needs to match the current node -->
				<nodeType>XMLReader::ELEMENT</nodeType><!-- Optional. Defaults to XMLReader::ELEMENT -->
				<priority>50</priority><!-- Optional. Defaults to 50. Higher priority will be executed first. -->
				<options>
					<anycustomoptions>customvalue</anycustomoptions>
				</options>
			</dummyProcessor1>
			<dummyProcessor2><!-- processor identifier -->
				<class>aoe_import/processor_dummy</class>
				<pathFilter><![CDATA[+^//a/b+]]></pathFilter><!-- regex on xpath that needs to match the current node -->
				<nodeType>XMLReader::ELEMENT</nodeType><!-- Optional. Defaults to XMLReader::ELEMENT -->
				<priority>50</priority><!-- Optional. Defaults to 50. Higher priority will be executed first. -->
				<options>
					<anycustomoptions>customvalue</anycustomoptions>
				</options>
			</dummyProcessor2>
		</dummyImportKeyA>
		<dummyImportKeyB><!-- import key -->
			<dummyProcessor3><!-- processor identifier -->
				<class>aoe_import/processor_dummy</class>
				<pathFilter><![CDATA[+^//a/c+]]></pathFilter><!-- regex on xpath that needs to match the current node -->
				<nodeType>XMLReader::ELEMENT</nodeType><!-- Optional. Defaults to XMLReader::ELEMENT -->
				<priority>50</priority><!-- Optional. Defaults to 50. Higher priority will be executed first. -->
				<options>
					<anycustomoptions>customvalue</anycustomoptions>
				</options>
			</dummyProcessor3>
			<dummyProcessor4><!-- processor identifier -->
				<class>aoe_import/processor_dummy</class>
				<pathFilter><![CDATA[+^//a/c+]]></pathFilter><!-- regex on xpath that needs to match the current node -->
				<nodeType>XMLReader::ELEMENT</nodeType><!-- Optional. Defaults to XMLReader::ELEMENT -->
				<priority>60</priority><!-- Optional. Defaults to 50. Higher priority will be executed first. -->
				<options>
					<anycustomoptions>customvalue</anycustomoptions>
				</options>
			</dummyProcessor4>
		</dummyImportKeyB>

        <example_products><!-- import key -->
            <exampleProductProcessor><!-- processor identifier -->
                <class>aoe_import/processor_demo_product</class>
                <pathFilter><![CDATA[+^//import/product$+]]></pathFilter><!-- regex on xpath that needs to match the current node -->
            </exampleProductProcessor>
        </example_products>

	</aoe_import>


</config>
